::-webkit-scrollbar {
    display: none;
}

.contain-to-grid.fixed.columns {
    background: white;
}

section.top-bar-section {
    background: white;
}

nav.top-bar {
  width: 5%;
  padding-top: 0px;
  margin-top: 0px;
  background: white;
  display: inline-block;
}


div .logo {
  display: inline-block;
}

#logo img {
  margin: 4.5rem 0 1.5rem 0;
  max-width: 18%;
}

h2#log-line {
    padding-top: 32px;
    margin-top: 70px;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 1500;
  letter-spacing: 1.1px;
  line-height: 2;
  overflow-x: hidden;
}

      body p {
        line-height: 150%;
      }

h3 {
  font-family: 'Play', sans-serif;
  font-weight: 1500;
}

#oil-change, #documentation, #linting, #customers {
  padding: 4rem 0 4rem 0;
}

#main {
  background: url(../img/code-bg-dark.png) no-repeat fixed;
  background-size: cover;
}

#background{
}

      #background h2 {
        font-family: 'Play', sans-serif;
        font-size: 2.8em;
        font-weight: 400;
        color: #7fbff6;
        padding: 2rem;
        border-radius: 5px;
        margin-bottom: 3rem;
        padding-top: 32px;
      }

      #background .intro-list {
        font-weight: 200;
        text-align: center;
        border: 3px #7fbff6 solid;
      }

      #background .intro-list span {
        font-weight: 200;
        font-size: 1.6em;
        color: black;
      }

      #background ul {
        font-family: 'Raleway', sans-serif;
        font-size: 1.4em;
        font-weight: 400;
        color: black;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border: 3px #7fbff6 solid;
        border-radius: 10px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
      }

      #background p {
        font-size: 2em;
        font-weight: 200;
        color: #7fbff6;
        padding: 1rem;
        border-radius: 5px;
      }

.row {
  border-bottom: 3px #7fbff6 solid;
}

.content {
  font-weight: 1500;
}

      .content p {
        font-weight: 1500;
        padding: 0.5rem;
      }

#clients img{
  width: 7em;
}

#clients li{
  display: inline-block;
  padding: 1em;
}

#footer {
  background: white;
  padding: 2rem 0 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: none;
}

      #footer ul{
        width: 100%;
        text-align: center;
      }
      #footer li {
        list-style-type: none;
        display: inline-block;
        color: black;
        font-size: 2em;
        text-align: center;
      }

      #footer p{
        font-weight: 1500;
        color: black;
        padding: 1rem;
        border-radius: 5px;
      }

      #footer a {
        font-weight: 1500;
      }

      #footer a:hover {
        text-decoration: underline;
      }

      #footer img {
        border-radius: 5px;
        width: 1em;
        margin-left: 1rem;
      }

      #footer #josh {
        font-size: 13px;
        font-weight: 200;
      }


@media only screen
and (max-width : 640px) {

  /*nav bar and menu*/
  .logo, nav.top-bar {
    width: 100%;
  }

  .logo img {
    padding-left: 5px;
  }

  #background ul {
    padding: 1em;
    font-size: 0.8em;
  }

  #background h2 {
    font-size: 1.8em;
    margin-bottom: 0px;
  }

  li.active #head {
    color: #7fbff6;
  }
  .top-bar-section ul li.active > a {
    background: white;
    color: #7fbff6;
  }

  .contain-to-grid {
    background: white;
  }

  .menu-icon {
    list-style-type: none;
  }

  .menu-icon a {
    padding-right: 0px;
  }

  #logo {
    width: 40px;
  }

 .top-bar, .logo, .contain-to-grid.fixed.columns {
    height: 59px;
  }

  #menu-icon {
    float: right;
    width: 15%;
  }

  #head {
    color: black;
  }

  /*paragraphs*/

  h2#log-line {
    padding-top: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #oil-change, #documentation, #linting {
    padding-top: 0px;

  }

  .intro-list {
    margin-top: 0px !important;
    margin-bottom: 60px !important;
  }

  .intro-list li {
    font-size: 0.8em;
  }

  #background p {
    padding-top: 3em;
    font-size: 1em;
    font-weight: 400;
  }

  .row {
    border-bottom: 0.7px #7fbff6 solid;
    padding-bottom: 0px;
    padding-bottom: 0px !important;
  }

  #background ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px;
  }

  #clients {
    margin-bottom: 60px !important;
  }

  .contact {
    font-size: 10px;
  }

  #footer #jordan {
    font-size: 10px;
    font-weight: 200;
  }

}
